/* Start Variables */
:root {
  --mainColor: #00c7fc;
  --mainTransitionDuration: 0.3s;
  --mainTextColor: #1f2021;
  --secondTextColor: #a8a8a8;
  --secondColor: rgba(15, 115, 143, 0.7);
  --sectionPadding: 100px;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Global Components */
.main-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.main-heading h2 {
  width: fit-content;
  display: block;
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: normal;
  position: relative;
  text-transform: uppercase;
  color: var(--mainTextColor);
}
.main-heading h2::after,
.main-heading h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-heading h2::before {
  width: 80%;
  background-color: var(--mainTextColor);
  height: 1px;
}
.main-heading h2::after {
  transform: translateX(-50%) translateY(50%);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 1px solid var(--mainTextColor);
  background-color: white;
}
.main-heading p {
  max-width: 550px;
  text-align: center;
  margin-top: 20px;
  line-height: 1.8;
  font-weight: 300;
  color: var(--secondTextColor);
}
/* End Global Components */
/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 5;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 99px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  bottom: 0;
  left: 15px;
  background-color: #726f71;
}
header .container nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .container nav .toogle-menu {
  font-size: 22px;
  color: white;
  display: none;
}
header .container nav ul{
  display: flex;
}
header .container nav ul li a {
  display: block;
  padding: 40px 10px;
  text-decoration: none;
  color: white;
  transition-duration: var(--mainTransitionDuration);
}
header .container nav ul li a:hover,
header .container nav ul li .active {
  color: var(--mainColor);
  border-bottom: 1px solid var(--mainColor);
  position: relative;
  z-index: 2;
}
header .container nav .form {
  width: 40px;
  height: 30px;
  margin-left: 30px;
  display: flex;
  align-items: center;
  border-left: white 1px solid;
  position: relative;
}
header .container nav .form i {
  color: white;
  position: absolute;
  right: 0;
  transition: var(--mainTransitionDuration);
}
header .container nav .form i:hover{
  color: var(--mainColor);
}
@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  header .container nav .toogle-menu {
    display: block;
  }
  header .container nav .toogle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
  }
  header .container nav .toogle-menu:hover + ul li a {
    padding: 15px;
  }
}
/* End Header */
/* Start Landing Section */
.landing {
  height: 100vh;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}
.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.landing .text {
  padding: 30px;
  position: relative;
  z-index: 2;
  width: 50%;
  background-color: var(--secondColor);
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  color: white;
  padding: 40px 20px;
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .text .content h1 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
}
.landing .angle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  z-index: 3;
}
.landing .angle:hover {
  color: var(--mainColor);
}
.landing .angle:first-of-type {
  left: 30px;
}
.landing .angle:nth-of-type(2) {
  right: 30px;
}
@media (max-width: 767px) {
  .landing .angle {
    display: none;
  }
}
.landing ul {
  width: 100px;
  position: absolute;
  display: flex;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
}
.landing ul li {
  border-radius: 50%;
  border: white 1px solid;
  width: 20px;
  height: 20px;
}
.landing ul li:hover {
  background-color: var(--mainColor);
  border: solid 1px var(--mainColor);
}
.landing ul .active {
  border: var(--mainColor) 1px solid;
  background-color: var(--mainColor);
}
/* End Landing Section */
/* Start Services Section */
.services {
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
}
.services .services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 60px;
}
.services .services-container .service {
  display: flex;
  gap: 60px;
}
.services .services-container .service .service-text h3 {
  font-weight: normal;
  font-size: 20px;
  color: var(--mainColor);
  margin-bottom: 20px;
}
.services .services-container .service .service-text p {
  color: var(--secondTextColor);
  line-height: 1.7;
}
@media (max-width: 767px) {
  .services .services-container {
    padding: 50px;
    grid-template-columns: 1fr;
  }
  .services .services-container .service {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
/* End Services Section */